body {
    margin: 0;
    background-color: #e9ecef;

}

@font-face {
    font-family: new;
    src: url(font/Righteous-Regular.ttf);
}

#navbar {
    width: 100%;
    height: 100px;
    background-color: #10266b;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);

}

img {
    width: 12%;
    margin: 5px;
}

.hidden {
    text-align: center;
}

.heading_1 {
    font-size: 62px;
    font-family: new;

}

.heading_2 {
    font-size: 42px;
    font-family: new;


}

.heading_3 {
    font-size: 32px;

}

.heading_4 {
    font-size: 22px;

}

button {
    font-family: new;
    width: 30%;
    padding: 10px;
    font-size: 24px;
    border: none;
    margin-top: 20px;
    box-shadow: 5px 5px 15px rgb(32 33 36 / 28%);
    border: 1px solid #10266b;



}
button:hover{
    background-color: #10266b;
    color: white;
}

footer {
    font-family: new;
    margin-top: 60px;
    width: 100%;
    font-size: 20px;
    background-color: #10266b;
    text-align: center;
    height: 30px;
    color: white;

}


@media screen and (max-width: 360px) {
    img {
        width: 45%;
    }

}